<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alarm vue.js</title>
    <style>
    .title{
        text-align: center;
    }
    .alarm{
        margin-left: 50px ;
        text-align: left;
    }
    #symbol{
        margin-left:50px;
        font-weight:normal;
    }
   
    </style>
</head>
<body>
<div id = "main">
    <h1 class = "title">Mes Réveils</h1>
    <div class ="alarm">
        <ul>
            <li v-for="alarm in alarms">{{ alarm.label }}<span> {{alarm.date | format}}</span>
            <button id="symbol">✎</button><button @click="delateAlarm">&#128465;</button></li>
        </ul>
        <button @click="toggleNewAlarm">Ajouter une alarme</button>
        <div v-if="show_newAlarm">
            <input type="text" v-model="newLabel" placeholder="Saisir le nom de votre alarme" />
            <input type="text" v-model="newHours" placeholder="Saisir l'heure" />
            <input type="text" v-model="newMinutes" placeholder="Saisir la minute"/>
            <button @click="addAlarm">add</button>
            <button @click="toggleNewAlarm">cancel</button>
        </div>
    </div>
    </div>
</div>
<audio id="audio1" src="alarm_sound.mp3" preload="auto"></audio>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script>


Vue.filter('format', function(date) {
    dateToFormat = new Date(date);
    return dateToFormat.getHours()+"h"+ dateToFormat.getMinutes();
    
});
var demo = new Vue({

    // A DOM element to mount our view model.

    el: '#main',

    // Define properties and give them initial values.

    data: {
        show_newAlarm: false,
        newLabel: "",
        newHours:"",
        newMinutes:"",
        alarms: [
        {
            label: 'test Alarm',
            date:'03 13, 08 04:20'
        }]  
    },
    // Functions we will be using.

    methods: {
        addAlarm: function(){
            let dateActual = new Date();
            let dateToPush = (dateActual.getMonth() +" "+ dateActual.getDay()+", "+ dateActual.getFullYear()+" "+this.newHours+":"+this.newMinutes);
            this.alarms.push({label: this.newLabel, date: dateToPush.toString()});
            this.show_newAlarm = !this.show_newAlarm;
            this.newLabel ="";
            this.newHours = " ";
            this.newMinutes = " ";
            let time1 = dateActual.getTime();
            let dateAlarm = new Date(dateToPush);
            let time2 = dateAlarm.getTime();
            let interval = time1-time2;
            setTimeout(this.playAlarm(), 5000)

        },
        hide_newAlarm: function(){
            this.show_newAlarm = false;
        },
        toggleNewAlarm: function(){
            this.show_newAlarm = !this.show_newAlarm;
        },
        delateAlarm: function(){
            let indexWanted =  this.alarms.indexOf(this.alarms.label);
            console.log(indexWanted);
            this.alarms.splice(indexWanted,1);
        },
        playAlarm: function(){
            document.getElementById('audio1').play();
        }
        
       
    }
        

    })
</script>
</body>
</html>